.main {
  width: 87vw;
  min-height: 100vh;
}
.main_detailText > h2 {
  margin-top: 300px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 60px;
}
.main_image {
  display: flex;
  flex-direction: row-reverse;
}
.main_image > img {
  width: 300px;
  box-shadow: 0px 0px 30px green;
}
