.movingbar {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movingbar_bar {
  width: 99%;
  height: 20vh;
  background-color: black;
  transform: rotate(-5deg);
  position: absolute;
  left: 0;
  overflow: hidden;
  border: 5px solid;
}
.movingbar_bar > h2 {
  font-size: 90px;
  text-align: center;
  color: white;
  position: absolute;
  left: 10%;
  animation: move 6s linear infinite;
  transition-delay: 3s ease;
}
@keyframes move {
  0% {
    transform: translate3d(-1500px, 0px, 0px);
  }

  100% {
    transform: translate3d(1500px, 0px, 0px);
  }
}
