.movingbar {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movingbar_bar {
  width: 99%;
  height: 20vh;
  background-color: black;
  transform: rotate(-5deg);
  position: absolute;
  left: 0;
  overflow: hidden;
  border: 5px solid;
}
.movingbar_bar > h2 {
  display: inline-block;
  font-size: 90px;
  text-align: center;
  color: white;
  position: absolute;
  left: 10%;
  animation: move 8s linear infinite;
  transition-delay: 0.5s ease;
  font-family: "Item";
}
@keyframes move {
  0% {
    transform: translate3d(-1500px, 0px, 0px);
  }

  100% {
    transform: translate3d(1500px, 0px, 0px);
  }
}
@keyframes moveMobile {
  0% {
    transform: translate3d(-400px, 0px, 0px);
  }
  100% {
    transform: translate3d(400px, 0px, 0px);
  }
}
@media screen and (max-width: 786px) {
  .movingbar {
    height: 30vh;
  }
  .movingbar_bar {
    width: 99%;
    height: 6vh;
  }
  .movingbar_bar > h2 {
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    animation: moveMobile 4s linear infinite;
  }
}
